.content{
    margin-left: 22%;
    /* width: 300px;
    align-items: center; */
}
/* .container{
    height: 570px;
    width: 40%;
    position: relative;
   padding-top: 0%;
    margin-left: 10%; */

/* .ownersignuppage{
    background-image: url('/assets/Images/Hotel_2.jpg');
    height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
} */
/* .data{
    text-align: center; */
    
/*    
    size: 10px;
    text-align: center; */
/* } */