
















.btn{
    margin-top: 10px;
}

.example-form {
    min-width: 150px;
    max-width: 250px;
    height: auto;
    margin-left: 60%;
    background-color: aqua;
    /* background-color:rgb(255, 192, 208) */
  }
  
  .example-full-width {
    width: auto;
    /* margin-top: 20px 20px;
    margin-left: 6px 6px;
    /* margin-right: auto; */ 
  }

  .heading{
    text-align: center;
    color: blueviolet;
  }

.signupForm{
    background-image: url('/assets/Images/Hotel_4.jpg');
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
}
.signform{
    height: auto;
    width:250px;
    background-color: blueviolet;
    margin-left: 60%;
    margin-top: 10px;
    align-content: center;
}
 form input{
    background-color: brown;
}















/* .content{
    margin-left: 22%;
    width: 300px;
    align-items: center; 
}
.container{
    height: 570px;
    width: 80%;
    position: relative;
   padding-top: 0%;
    margin-left: 10%;
}
 .ownersignuppage{
    background-image: url('/assets/Images/Hotel_2.jpg');
    height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
}
.data{
    text-align: center;
background-color:pink;  
} */
    
/*    
    size: 10px;
    text-align: center; */
/* } */