<div Class="successpage">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <button mat-raised-button color="primary" (click)="book()">Hotel Booking</button>&nbsp;
    <button mat-raised-button color="accent" (click)="list()">Word Hotel List</button>
    <button mat-raised-button (click)="bookingdetails()" color="warn">Booking Details</button>
    <div *ngIf="showdata" class="table-container">
        <div class="input-group mb-3">

            <span class="input-group-text" id="basic-addon1"><i class="fa fa-search">
                    <mat-icon>search</mat-icon>
                </i></span>
            <input type="search" class="form-control" placeholder="Search hear..." aria-label="Username"
                aria-describedby="basic-addon1" [(ngModel)]="searchval" (keyup)="inptval($event)">
            <button class="btn btn-primary" (click)="searchvalue()">search</button>
        </div>
        <table class="table" *ngIf="bookingGetData && showdata ">
            <tr>
                <th>ID.No</th>
                <th>Name</th>
                <th>LastName</th>
                <th>Address</th>
                <th>ChooseHotel</th>
                <th>RoomAvailable</th>
                <th>Menu</th>
                <th>Payment</th>
                <th>delete</th>
                <th>edit</th>
            </tr>
            <tr *ngFor="let tableData of bookingGetData ">
                <td>{{tableData.id}}</td>
                <td>{{tableData.Name}}</td>
                <td>{{tableData.lastName}}</td>
                <td>{{tableData.Address}}</td>
                <td>{{tableData.ChooseHotel}}</td>
                <td>{{tableData.RoomAvailable}}</td>
                <td>{{tableData.Menu}}</td>
                <td>{{tableData.Payment}}</td>
                <td><mat-icon (click)="delete(tableData.id)" class="icon">delete</mat-icon></td>
                <td><mat-icon (click)="edit(tableData.id)" class="icon">mode_edit</mat-icon></td>
            </tr>


        </table>
    </div>
</div>