.form{
    height: 400px;
    width: 300px;
    background-color: rgb(185, 31, 116);
    margin-top: -0%;
}
.example-full-width{
    margin-left: 30px;
}
.submitbutton{
    margin-left: 30px;
}
.anchor{
    color: gold;
 
    margin-left: 30px;
    
}
.adminsinup{
    margin-left: 30px;
    padding: 27px;
}