<div class="containe">
    <button mat-raised-button color="primary" class="login-btn" (click)="click()">Back</button>

    <div class="form">
       
        <form class="example-form" [formGroup]="loginForm" *ngIf="!forgotPasswordData">
            <h2 style="text-align: center;color: bisque; ">Login Form</h2>
            <mat-form-field class="example-full-width">
                <mat-label>UserName</mat-label>
                <input matInput placeholder="Enter UserName" formControlName="name">
            </mat-form-field><br><br>

            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input type="password" matInput placeholder="Enter Password" formControlName="password">
            </mat-form-field><br>

            <button mat-raised-button color="primary" (click)="submit()" class='example-full-width'>Login</button>


            <a (click)="forgotpassworddetails()" class='example-full-width'>Forgot Password</a><br><br>

            <mat-divider></mat-divider><br>
            <a class="adminsinup" class='newSignUp' href="owner/ownerSignup">Don't have an Account?SignUp</a>



        </form>

        <div *ngIf="forgotPasswordData">
            <h2 style="text-align: center;color: bisque; ">Forgot Password</h2>
            <form class="example-form" [formGroup]="forgotForm">
                <mat-form-field class="example-full-width">
                    <mat-label> New Password</mat-label>
                    <input type="password" matInput placeholder="Enter New Password" formControlName="NewPassword">
                </mat-form-field><br>

                <mat-form-field class="example-full-width">
                    <mat-label>ConfirmNewPassword</mat-label>
                    <input type="password" matInput placeholder="Enter ConfirmNewPassword Password"
                        formControlName="confirmNewPassword">
                </mat-form-field><br>
                <button class="submitbutton" mat-raised-button color="primary" (click)="submitbutton()"
                    class='example-full-width'>submit</button>
            </form>
        </div>
    </div>
</div>