/* .home{
    height: 1000px;
    width: 100%;
   
    
} */
/* .button{
    
    padding-left: 20px;


}
.owner{
    margin-top: 5px;
    padding-left: 20px

}
.user{
    margin-top: 5px;
    padding-left: 32px  */
/* 
 } */
.img{
    height: 400px;
    width: 100%;
}