<div class="container">
  <div>
    <mat-toolbar color="primary" class="navbar">
      <button mat-icon-button (click)="menu()" class="example-icon" aria-label="Example icon-button with menu icon">

        <mat-icon>menu</mat-icon>

        <mat-drawer-container style="background-color:pink;" *ngIf="showmenu" class="example-container">
          <h5><span>For More Details Click Below</span></h5>
          <div>
            <mat-list >
              <mat-list-item>About</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>Our Service</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>Contact</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>Help</mat-list-item>
            </mat-list>
          </div>
        </mat-drawer-container>


      </button>
      <span class="heading">  Hotel Green Land</span>
      <span class="example-spacer"></span>
      <button (click)="journey('admin')" class="button" mat-raised-button color="primary">Admin</button>&nbsp;
      <button class="owner" (click)="journey('owner')" mat-raised-button color="accent">Owner</button>&nbsp;
      <button class="user" (click)="journey('user')" mat-raised-button color="warn">User</button>
    </mat-toolbar>


    
  </div>
</div>