
    <mat-card>
        <mat-card-header>
            <button (click)="journey('admin')" class="button" mat-raised-button color="primary">Admin</button>&nbsp;
            <button class="owner" (click)="journey('owner')" mat-raised-button color="accent">Owner</button>&nbsp;
            <button class="user" (click)="journey('user')" mat-raised-button color="warn">User</button>
        </mat-card-header> 
        <div class="home">
    <h1 style="text-align: center; background-color: blueviolet;">Welcome To Hotel </h1>
    <h1 style="text-align: center;background-color: blueviolet;margin-top: -2%; font-style: oblique;"> Green Land</h1>
   
   
   <div> <img class="img" mat-card-image
        src="https://imgcld.yatra.com/ytimages/image/upload/t_seo_Hotel_w_930_h_550_c_fill_g_auto_q_40_f_jpg/v6608932982/Hotel/00042026/WhatsApp_Image_2023_01_08_at_3_20_32_PM_7__gRcyBW.jpeg"
        alt="Photo of a hotel GreenLand Inu">
    </div>
</div>